@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.navLink{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  margin-right: 25px;
  text-transform: uppercase;
}
.navLink1{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
}
.Docs{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  background-color: #F42F54;
  border-radius: 32px;
  padding: 14px 32px 14px 32px;
  transition: all 0.3s ease;
  font-weight: 700;
}
.Docs:hover{
  background-color: #d1284d;
}
.drawer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.MuiAccordion-gutters.css-1ivjm47-MuiPaper-root-MuiAccordion-root {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.termsLink{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: white;
  font-style: normal;
  text-decoration: none;
}